// ## Left
.aside-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .link {
    writing-mode: vertical-lr;
    position: relative;
    color: #fff;
    font-family: $saira-font;
    font-size: 1rem;
    padding: 1rem;
    transform: rotateZ(180deg);

    &:first-child {
      margin-bottom: 4rem;
    }

    &:last-child,
    &:first-child {
      overflow: hidden;

      &::after {
        content: "";
        width: 0.35rem;
        height: 2rem;
        border-radius: 1rem;
        position: absolute;
        background-color: $main-color;
        left: -10%;
        top: 50%;
        transform: translateY(-50%);
        transition: left 250ms ease;
      }

      &:hover {
        &::after {
          left: 0;
        }
      }
    }
  }
}

// ## Right
.aside-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .count {
    color: #fff;
    font-family: $saira-font;
    font-weight: 400;
    font-size: 0.8rem;
    writing-mode: vertical-lr;
  }

  .slider-wrapper {
    margin: 1rem 0;
    .line {
      background: #fff;
      width: 0.1rem;
      height: 10rem;
      position: relative;
      border-radius: 1rem;

      .position-actived {
        width: 0.3rem;
        height: 5rem;
        background-color: $main-color;
        border-radius: 1rem;
        position: absolute;
        right: 50%;
        transform: translateX(50%);

        &.first {
          top: 0;
        }

        &.second {
          bottom: 0;
        }
      }
    }
  }
}
