.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;

  &-left {
    display: flex;
    align-items: center;
    justify-content: center;

    .wrapper {
      color: #fff;
      font-family: $open-sans-font;
      font-size: 0.8rem;
      font-style: normal;
      display: flex;
      flex-direction: column;

      &:not(:first-child) {
        margin-left: 4rem;
      }

      .desc {
        font-weight: 500;
      }

      .name {
        font-size: 0.9rem;
        font-weight: 700;
      }
    }
  }

  &-right {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 3rem;
      height: 3rem;
      outline: none;
      border-style: none;
      background: $main-color;
      border-radius: 100%;
      cursor: pointer;
      display: grid;
      place-items: center;

      &:nth-child(2) {
        transform: rotateZ(180deg);
      }

      svg {
        width: 1.2rem;
        color: #fff;
      }

      &:not(:first-child) {
        margin-left: 1.4rem;
      }
    }
  }
}
