body {
  min-height: 100vh;
  font-size: 62.5%;

  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 70% 20%;

  background-image: url("../assets/background.jpg");
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navbar {
  grid-column: 1/4;
  grid-row: 1/2;
}

.aside-left {
  grid-column: 1/2;
  grid-row: 2/3;
}

.main {
  grid-column: 2/3;
  grid-row: 2/3;
}

.aside-right {
  grid-column: 3/4;
  grid-row: 2/3;
}

.footer {
  grid-row: 3/4;
  grid-column: 1/4;
}
