// Google Fonts Links
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");

// Colors
$main-color: #f61f4b;

// Fonts
$saira-font: "Saira", sans-serif;
$montserrat-font: "Montserrat", sans-serif;
$open-sans-font: "Open Sans", sans-serif;
